.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-RF3DCmcR8Fbe);
  font-family: var(--token-W-eVJXXcdzhl);
  font-size: var(--token-svAysiccO5aI);
  line-height: var(--token-PPGaXnIPYH6B);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-vXLhR1tRo6Zi);
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__grGuC {
  display: flex;
  position: relative;
  width: var(--token-LNnc8qaJcGpl);
  height: var(--token-LNnc8qaJcGpl);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-wLK2t-gEL7Jr);
}
.ariaRadio[data-selected] .freeBox__grGuC {
  background: var(--token-htjSBIOA1fQZ);
  border-color: var(--token-htjSBIOA1fQZ);
}
.ariaRadio[data-focus-visible] .freeBox__grGuC {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-htjSBIOA1fQZ);
  outline-width: 2px;
}
.freeBox__zomZ6 {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__zomZ6 {
  width: var(--token-DNAlGKUAckG-);
  height: var(--token-DNAlGKUAckG-);
  flex-shrink: 0;
  display: block;
}
