.ariaSelect:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-XcmhfHalj5vw);
}
.ariaSelect[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token-0r02ea_84gjy);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  min-width: 200px;
  align-items: center;
  outline-style: none;
  border-radius: var(--token-DNAlGKUAckG-);
  padding: var(--token-DNAlGKUAckG-) var(--token-mgkntnb4-Cgp);
  border-style: none;
}
.ariaSelect[data-focus-visible] .ariaButton:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-rmX881LH63zz);
  outline-offset: 1px;
  outline-color: var(--token-htjSBIOA1fQZ);
}
.ariaSelectedValue:global(.__wab_instance) {
  font-size: var(--token-svAysiccO5aI);
  line-height: var(--token-PPGaXnIPYH6B);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-M_D5iduwceqP);
  min-width: 0;
}
.svg {
  width: var(--token-L2x0t2Ir-SyV);
  height: var(--token-L2x0t2Ir-SyV);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.menuSection___4FmyG:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__xzoEy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
